<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item (click)="editar('Luis')">
    <ion-avatar  slot="start">
      <img src="../../../../assets/hom.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>

  
  <ion-list>
    <ion-list-header>
      Locales de Arriendo
    </ion-list-header>
    <div *ngFor = "let local of locales | async ">
      <ion-item (click)="editar(local)">
        <ion-avatar  slot="start">
          <img src="../../../../assets/local.png">
        </ion-avatar>
        <ion-label>
          <h2>{{locales.nombre}}</h2>
          <h3>{{locales.telefono}}</h3>
          <p>{{locales.direccion}} {{locales.correo}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="crear()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
